@font-face {
    font-family: "Inter";
    src: url("../public/Inter_18pt-Light.ttf");
}

body {
    background-color: #1b1b1d;
    color: white;
    font-family: "Inter";
}

.app {
    display: flex;
    height: 100vh;
}

.header {
    text-align: center;
}

/* sidebar / filterbar */

.sidebar {
    width: 250px;
    /* background-color: #272729; */
    padding-left: 10px;
}

.filterBar h2 {
    font-weight: bold;
}

.filter {
    margin-bottom: 0.5rem;
}

.filter-label {
    margin-bottom: 0.25rem;
}

.checkbox-label {
    display: block;
}

/* movie cards */
.main-content {
    flex: 1;
    display: grid;
    gap: 1rem;
    padding: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    min-height: 100vh;
    align-self: stretch;
}

.movie-card {
    height: 600px;
    /* border: 3px solid #A40000; */
    background-color: #0E0E0F;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 10px;
}

.movie-poster {
    height: 450px;
    background-size: cover;
    background-position: center;
    /* border: 3px solid #A40000; */
}

.movie-info {
    padding-left: 5px;
    margin: 0.1rem 0;
    line-height: 0.7;
    word-wrap: break-word;
    overflow: hidden
}

.movie-title {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 600;
    word-break: break-word;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    max-height: 3em;
}

.movie-genre,
.movie-year,
.movie-runtime {
  font-size: clamp(0.8rem, 0.9vw, 1rem);
}



